<ion-card>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col id="image-container" class="ion-no-padding">
                <ion-img src="assets/images/chapada-diamantina.jpg" width="86" height="106"></ion-img>
            </ion-col>
            <ion-col id="about-container" class="ion-no-padding">
                <ion-row>
                    <ion-col id="name-container" size="12" class="ion-no-padding">
                        <p>Chapada diamantina</p>
                        <span id="local-container">
                            <ion-icon src="assets/icons/pin.svg"></ion-icon>
                            <p>Bahia</p>
                        </span>
                    </ion-col>
                    <ion-col id="status-container" size="12" class="ion-no-padding" >
                        <p id="price">R$ 4000.00</p>
                        <span>
                            <ion-icon src="assets/icons/star.svg"></ion-icon>
                            <p>4.5</p>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>